copa.rar
content/world-cup-formats.xml.bak
__pycache__/Cup48_3groups.cpython-311.pyc
__pycache__/Cup48_4groups.cpython-311.pyc
__pycache__/Cup48.cpython-311.pyc
__pycache__/FormatReader.cpython-311.pyc
__pycache__/Group.cpython-311.pyc
__pycache__/Match.cpython-311.pyc
__pycache__/Params.cpython-311.pyc
__pycache__/Result.cpython-311.pyc
__pycache__/Schedule.cpython-311.pyc
__pycache__/Setup.cpython-311.pyc
__pycache__/tabelacopa2.cpython-311.pyc
__pycache__/Tournament.cpython-311.pyc
__pycache__/WorldCup.cpython-311.pyc
